{% extends "base/base.html" %}

{% block content %}
<h4>Payments</h4>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Invoice No</th>
            <th>Customer</th>
            <th>Payment Date</th>
            <th>Amount</th>
            <th>Method</th>
            <th>Transaction ID</th>
        </tr>
    </thead>
    <tbody>
        {% for p in payments %}
        <tr>
            <td>{{ p.invoice.invoice_number }}</td>
            <td>{{ p.invoice.customer.name }}</td>
            <td>{{ p.payment_date }}</td>
            <td>{{ p.amount }}</td>
            <td>{{ p.get_payment_method_display }}</td>
            <td>{{ p.transaction_id }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No payments found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
